# DO NOT IMPORT * from settings.common AS IT MASKS ENV`S IMPORTS!
from {{ cookiecutter.project_name }}.settings.common import ALLOWED_HOSTS


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ cookiecutter.local_db_name }}',
        'USER': '{{ cookiecutter.local_db_user }}',
        'PASSWORD': '{{ cookiecutter.local_db_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

ALLOWED_HOSTS += ['192.168.1.%d' % num for num in range(1, 255)]

SECRET_KEY = '{{ cookiecutter.secret_key }}'
