{% load static pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}{% endblock title %}</title>
    {% block extra-styles %}{% endblock extra-styles %}
    {% block extra-scripts %}{% endblock extra-scripts %}
</head>
<body class="{% spaceless %}{% block bodyclass %}{% endblock %}{% endspaceless %}">
    {% block content %}{% endblock content %}
</body>
</html>