{% raw %}
- load static pipeline
!!! 5
%html{lang: '{{ LANGUAGE_CODE|default:"en-us" }}'}
    %head
        %meta{charset: 'UTF-8'}
        %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
        %meta{name: 'format-detection', content: 'telephone=no'}
        %title
            - block title
        - block extra-styles
        - block extra-scripts
    %body{'class': '{% spaceless %}{% block bodyclass %}{% endblock %}{% endspaceless %}'}
        - block content
{% endraw %}
